<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Reviewer</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
</head>
<body style="vertical-align: top;">
<div id="dvContent">
{% include 'header.html' %}
<table style="width: 100%">
    <tr>
        <td style="padding-right: 200px">
            <h2>Juegos.</h2>
        </td>
        <td>
            <form action="/create_game">
                <input id="btGame" type="submit" value="Añadir Juego">
            </form>
        </td>
    </tr>
</table>
<div id="dvMessagesList">
        {% if games_list %}
            {% for game in games_list %}
                <div id="dvMessages">
                    <p id="txtMessages">
                        <img src="static/images/{{ game.image }}" id="imgGame"> <br>
                        {{ 'Nombre: ' + game.name }} <br>
                        {{ 'Género: ' + game.gender }} <br>
                        <form action="/view_reviews/{{ game.name }}/{{ game.gender }}" method="get">
                                <input id="btViewReviews" type="submit" value="Ver Reviews">
                        </form>
                    </p>
                </div>
            {% endfor %}
        {% else %}
            <p><b>No hay juegos... ¡Añade uno!</b></p>
        {% endif %}
</div>

</div>
{% include 'footer.html' %}
</body>
</html>