<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Reviewer</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
</head>
<body>
    {% include 'header.html'%}

        <div id="dvFormMessage">
        <form action="/save_message" method="post">
            <input type="hidden" name="edName" id="edName" value='{{ name }}'/>
            <br/>
            <input type="hidden" name="edGender" id="edGender" value='{{ gender }}'/>
            <br/>
            <label id= "lbMessage" for="edMessage">Reseña: </label>
            <textarea name="edMessage" id="edMessage" placeholder="Review"></textarea>
            <br/>
            <input id= "btPublish" type="submit" value="Publicar">
        </form>
    </div>
    <div id="dvFlash">
        {% with messages = get_flashed_messages() %}
           {% if messages %}
              {% for message in messages %}
                 {{ message }}
              {% endfor %}
           {% endif %}
        {% endwith %}
    </div>

    {% include 'footer.html' %}
</body>
</html>